.css_idmail_gatilho_det_label {text-align: left;vertical-align: middle;}
.css_idmail_gatilho_det_line {height:0px;text-align: left;}
.css_mail_descreva_det_label {text-align: left;vertical-align: middle;}
.css_mail_descreva_det_line {height:0px;text-align: left;}
