.css_idmail_gatilho_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idmail_gatilho_grid_line {vertical-align: top;text-align: right;}
.css_mail_descreva_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mail_descreva_grid_line {vertical-align: top;text-align: left;}
