.css_idmail_marketing_label { }
.css_idmail_marketing_line {text-align:left;}
.css_idmail_marketing_obj {text-align:left;}
.css_mail_marketing_campanha_label { }
.css_mail_marketing_campanha_line { }
.css_mail_marketing_campanha_obj { }
.css_mail_marketing_lista_label { }
.css_mail_marketing_lista_line {text-align:left;}
.css_mail_marketing_lista_obj {text-align:left;}
.css_mail_marketing_emitente_label { }
.css_mail_marketing_emitente_line {text-align:left;}
.css_mail_marketing_emitente_obj {text-align:left;}
.css_mail_marketing_assunto_label { }
.css_mail_marketing_assunto_line { }
.css_mail_marketing_assunto_obj { }
.css_mail_marketing_conteudo_label { }
.css_mail_marketing_conteudo_line { }
.css_mail_marketing_conteudo_obj { }
.css_mail_marketing_imagem_cabecalho_label { }
.css_mail_marketing_imagem_cabecalho_line { }
.css_mail_marketing_imagem_cabecalho_obj { }
.css_mail_marketing_imagem_rodape_label { }
.css_mail_marketing_imagem_rodape_line { }
.css_mail_marketing_imagem_rodape_obj { }
.css_mail_marketing_link_conteudo_label { }
.css_mail_marketing_link_conteudo_line { }
.css_mail_marketing_link_conteudo_obj { }
.css_mail_marketing_iniciar_quando_label { }
.css_mail_marketing_iniciar_quando_line { }
.css_mail_marketing_iniciar_quando_obj { }
.css_mail_marketing_terminar_quando_label { }
.css_mail_marketing_terminar_quando_line { }
.css_mail_marketing_terminar_quando_obj { }
.css_mail_marketing_gatilho_label { }
.css_mail_marketing_gatilho_line {text-align:left;}
.css_mail_marketing_gatilho_obj {text-align:left;}
