.css_idmail_marketing_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_idmail_marketing_grid_line {vertical-align: top;text-align: right;}
.css_mail_marketing_campanha_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mail_marketing_campanha_grid_line {vertical-align: top;text-align: left;}
.css_mail_marketing_lista_label {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_mail_marketing_lista_grid_line {vertical-align: top;text-align: right;}
.css_mail_marketing_emitente_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mail_marketing_emitente_grid_line {vertical-align: top;text-align: left;}
.css_mail_marketing_iniciar_quando_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_mail_marketing_iniciar_quando_grid_line {vertical-align: top;text-align: center;}
.css_mail_marketing_terminar_quando_label {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_mail_marketing_terminar_quando_grid_line {vertical-align: top;text-align: center;}
.css_mail_marketing_assunto_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mail_marketing_assunto_grid_line {vertical-align: top;text-align: left;}
.css_mail_marketing_conteudo_label {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_mail_marketing_conteudo_grid_line {vertical-align: top;text-align: left;}
