.css_mail_marketing_assunto_label {text-align:left;}
.css_mail_marketing_assunto_grid_line {vertical-align: top;}
.css_mail_marketing_imagem_cabecalho_label {text-align:left;}
.css_mail_marketing_imagem_cabecalho_grid_line {vertical-align: top;}
.css_mail_marketing_conteudo_label {text-align:left;}
.css_mail_marketing_conteudo_grid_line {vertical-align: top;}
.css_mail_marketing_link_conteudo_label {text-align:left;}
.css_mail_marketing_link_conteudo_grid_line {vertical-align: top;}
.css_mail_marketing_imagem_rodape_label {text-align:left;}
.css_mail_marketing_imagem_rodape_grid_line {vertical-align: top;}
